<div>
  <div style="width: 612px; height: 792px; position: relative; background: white">
    <div style="width: 561px; height: 58px; left: 25px; top: 23px; position: absolute">
      <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 36.62px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">Invoice</div>
      <div style="left: 1px; top: 40px; position: absolute; opacity: 0.80; color: black; font-size: 15px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">June</div>
      <div style="left: 464px; top: 0px; position: absolute; opacity: 0.50; color: black; font-size: 36.62px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">#001</div>
    </div>
    <div style="width: 612px; height: 13px; left: 0px; top: 0px; position: absolute; background: #9E00FF"></div>
    <div style="width: 137px; height: 85px; padding-bottom: 3px; padding-right: 9px; left: 28px; top: 113px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
      <div style="opacity: 0.50; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">From</div>
      <div style="opacity: 0.90; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">Benjamin Ashbaugh</div>
      <div style="opacity: 0.90; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">123 Raspberry St.<br/>Denver, CO 80123<br/>United States</div>
    </div>
    <div style="width: 137px; height: 85px; padding-bottom: 3px; padding-right: 6px; left: 238px; top: 113px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
      <div style="opacity: 0.50; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">Billed to</div>
      <div style="opacity: 0.90; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">Some Company, LLC</div>
      <div style="opacity: 0.90; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">2480 Blueberry Dr<br/>Boulder, CO 80310<br/>United States</div>
    </div>
    <div style="width: 73px; height: 79px; left: 501px; top: 113px; position: absolute">
      <div style="left: 17px; top: 0px; position: absolute; opacity: 0.50; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">Issued</div>
      <div style="left: 0px; top: 17px; position: absolute; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">6/29/2022</div>
      <div style="left: 24px; top: 43px; position: absolute; opacity: 0.50; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">Due</div>
      <div style="left: 2px; top: 62px; position: absolute; color: black; font-size: 13.83px; font-family: Clash Grotesk Variable; font-weight: 500; word-wrap: break-word">8/01/2022</div>
    </div>
    <div style="left: 34px; top: 260px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
      <div style="width: 535px; height: 15px; position: relative">
        <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">Description</div>
        <div style="left: 378px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">Qty</div>
        <div style="left: 440px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">Rate</div>
        <div style="left: 507px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Clash Grotesk Variable; font-weight: 600; word-wrap: break-word">Total</div>
      </div>
      <div style="align-self: stretch; height: 0px; opacity: 0.40; border: 1px black solid"></div>
      <div style="width: 535px; height: 15px; position: relative">
        <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hours</div>
        <div style="left: 378px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">20</div>
        <div style="left: 440px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">60</div>
        <div style="left: 507px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">1200</div>
      </div>
      <div style="align-self: stretch; height: 0px; opacity: 0.40; border: 1px black solid"></div>
      <div style="position: relative">
        <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Subtotal</div>
        <div style="left: 507px; top: 0px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">1200</div>
      </div>
    </div>
    <div style="left: 480px; top: 440px; position: absolute; color: #9E00FF; font-size: 33.33px; font-family: Inter; font-weight: 700; word-wrap: break-word">$1200</div>
  </div>
</div>